body {
    padding: 0;
    width: 100%;
    margin: 0;
    overflow-x: hidden;
    font-size: 12px;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 90px;
    height: 114px;
}

.menu i {
    /*background-image: url("img/slide-img.png");*/
}

.menu {
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    color: white;
    font-size: 20px;
}

.menu li, i {
    display: flex;
    justify-content: space-between;
    margin: 0 15px;
    list-style: none;
}

/*menu a{*/

/*border: 3px solid white;*/
/*}*/

.logo {
    font-size: 25px;
    text-decoration: none;
    text-transform: uppercase;
    margin-top: 10px;
    color: #000;
    font-weight: 600;
}

.menu a:hover {
    /*border: 3px solid #03a9f4;*/
    background-color: #03a9f4;
    color: white;
}

.menu a {
    text-decoration: none;
    color: black;
}

.slide {
    background: url("img/slide-img.png") no-repeat;
    background-size: cover;
    height: 769px;
    text-align: center;
}

.blue-line {
    width: 60px;
    text-align: center;
    background-color: #29cadf;
    height: 2px;
    border: none;
}

h1 {
    font-size: 70px;
    text-transform: uppercase;
    margin-bottom: -15px;
}

.slide h2 {
    font-size: 40px;
    text-transform: uppercase;
    font-weight: normal;
}

.time {
    padding-top: 100px;
    color: white;
    text-transform: uppercase;
}

.counter {
    /*width: 629px;*/
    text-align: center;
    display: flex;
    justify-content: space-between;
    margin: 0 30%;
}

.counter > span {
    font-size: 60px;
    position: relative;
}

/*.countdown{*/
/*display: block;*/
/*text-transform: uppercase;*/
/*position: absolute;*/
/*color: #FFFFFF;*/
/*font-size: 14px;*/
/*font-weight: 200;*/
/*}*/

.countdown-days:after {
    content: 'days';
    display: block;
    text-transform: uppercase;
    position: absolute;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 200;
    left: 20px;
}

.countdown-hours:after {
    content: 'hours';
    display: block;
    text-transform: uppercase;
    position: absolute;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 200;
    left: 10px;
}

.countdown-minutes:after {
    content: 'mins';
    display: block;
    text-transform: uppercase;
    position: absolute;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 200;
    left: 10px;
}

.countdown-seconds:after {
    content: 'secs';
    display: block;
    text-transform: uppercase;
    position: absolute;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 200;
    left: 10px;
}

.buttons {
    margin: 56px auto;
    text-align: center;
    display: flex;
    justify-content: space-between;
    width: 333px;

}

.tour-btn,
.purchase-btn {
    color: #fff;
    padding: 20px 30px;
    font-size: 0.938em;
    text-transform: uppercase;
    background: none;
    border: 1px solid #fff;
}

.tour-btn:hover,
.purchase-btn:hover {
    background-color: #03a9f4;
    border: 1px solid #03a9f4;
}

.section2 {
    margin: 82px;
    padding-bottom: 25px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.section2-left {
    width: 60%;
}

.section2-left > h3 {
    text-transform: uppercase;
}

.line-left {
    margin-left: 0;
}

.section2-head-ins {
    font-weight: bold;
    margin-top: 40px;
}

.statistics {
    background-color: #f8f8f8;
    height: 600px;
    padding-top: 90px;
    position: relative;

}

.statistics-cols {
    margin: 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
    color: #666666;
}

.icon {
    padding: 20px;
    /*width: 80px;*/
    /*height: 80px;*/
    background-color: #03a9f4;
    border-radius: 50%;
}

.subject {
    text-transform: uppercase;
    font-weight: bold;
}

.time-icon,
.place-icon {
    padding: 20px 25px;
}

.statistics-cols p {
    font-size: 14px;
}

.video {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    top: 370px;
}

.video h2 {
    position: absolute;
    top: 20%;
    transform: translateX(150%);
    color: #fff;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: bold;
}

.brands {
    display: flex;
    justify-content: center;
    height: auto;
    padding-top: 100px;
}

.row-1 {
    margin-top: 300px;
    align-items: center;
    display: flex;
    justify-content: space-around;

}

.brand {
    margin: 0 auto;
    width: 100%;
}

.row-2 {
    margin: 100px auto 100px;
    align-items: center;
    display: flex;
    justify-content: space-around;
}

.speakers {
    height: auto;
    background-color: #343131;
    /*width: 100%;*/
    /*justify-content: center;*/
    /*flex-wrap: wrap;*/
}

.member-title {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    padding-top: 109px;
    font-weight: normal;
    font-size: 30px;
}

.members {
    margin: 50px auto 0;
    display: flex;
    justify-content: space-around;
    padding-bottom: 100px;
}

.member-1,
.member-2,
.member-3 {
    display: flex;
    justify-content: space-around;
    margin: 50px;
    position: relative;
}

.members img:hover {
    opacity: 0.5;
}

/*.social-icons:hover{*/
/*opacity: 1;*/
/*}*/

.mem-line {
    background-color: white;
    margin-left: 0;
    width: 30px;
}

.member-data {
    position: absolute;
    transform: translateY(180%);
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.member-info {
    transform: translateX(-50%);
    margin-bottom: 20px;
    color: #FFFFFF;
    font-size: 16px;
}

.member-info h3 {
    text-transform: uppercase;
}

.schedule {
    height: 1994px;
    background-color: #f8f8f8;
    position: relative;
}

.schedule-header {
    margin: -50px auto;
    text-align: center;
    padding-top: 122px;
}

.schedule-btns {
    margin-top: 60px;
    display: flex;
    justify-content: center;
}

.schedule-btns a {
    padding: 14px 30px;
    background-color: transparent;
    border: 1px solid #eaeaea;
    text-decoration: none;
    color: #000;
    font-weight: 600;
    cursor: pointer;
}

.schedule-btns a:hover {
    /*border: 1px solid #eaeaea;*/
    background-color: #03a9f4;
}

.centered-photo {
    display: flex;
    justify-content: space-around;
}

.schedule-main {
    display: flex;
    justify-content: center;
}

.schedule-col-left {
    width: 50%;
    height: 1560px;
    border-right: 3px solid #eaeaea;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

/*.column-left > img,*/
/*.time-1   {*/
/*position: absolute;*/
/*top: -20px;*/
/*left: -20px;*/
/*z-index: 10;*/
/*}*/
.schedule-col-left figure,
.schedule-col-right figure {
    margin: 100px auto;
    position: relative;
    max-width: 460px;
    padding: 20px;
    background-color: white;
    display: block;
}

.time-1 {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

.time-2 {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
}

.schedule-ph-1 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 25%;
}

.schedule-ph-2 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 48%;
}

.schedule-ph-1 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 71%;
}

.schedule-col-right {
    width: 50%;
    height: 1560px;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.schedule-btn {
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
}

.schedule-col-left img:first-child,
.time-1 {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

.purchase {
    height: 150px;
    background: url('img/purchase.png') no-repeat;
    background-size: cover;
}

.signup a,
.schedule-btn a,
input[name='submit'] {
    background-color: #03a9f4;
    font-size: 13px;
    color: #FFFFFF;
    text-transform: uppercase;
    padding: 15px 40px;
    text-decoration: none;
}

.schedule-btn a:hover {
    opacity: 0.5;
}

figcaption {
    text-align: left;
}

figcaption h3 {
    font-size: 14px;
    font-weight: 900;
    text-transform: uppercase;
    margin-top: 15px;
    margin-bottom: 10px;
}

figcaption p {
    font-size: 14px;
    line-height: 1.7;
    opacity: 0.7;
}

.buy-block {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    align-items: center;
    margin: 0 70px;
}

.signup a:hover {
    opacity: 0.5;
}

.buy-block p {
    text-transform: uppercase;
    font-size: 20px;
    color: white;
}

.schedule-header h2 {
    text-transform: uppercase;
}

.blog {
    height: auto;
    text-align: center;
    /*margin: 40px auto;*/
}

.blog h2 {
    margin-top: 110px;
}

.booking-form {
    padding: 100px;
}

.booking-form h2 {
    text-transform: uppercase;
}

.blog-in,
.form-out {
    margin: 55px auto;
    display: flex;
    justify-content: center;
}

.booking {
    height: auto;
}

input[name='email'],
input[name='name'],
input[name='subject'] {
    padding: 15px 15px;
    font-size: 13px;
    border: 1px solid #f1f1f1;
    margin-bottom: 10px;
    font-family: "Open Sans", serif;
    font-weight: 400;
}

.form-n-m {
    display: flex;
    justify-content: space-between;
}

.form {
    /*width: 90%;*/
}

input[name='email'] {
    /*float: right;*/
}

input[name='subject'] {
    width: 100%;
}

input[name='submit'] {
    border: none;
    margin-top: 20px;
}

form textarea {
    height: 160px;
    width: 100%;
    padding: 15px;
    font-size: 13px;
    font-family: "Open Sans", serif;
    font-weight: 400;
    border: 1px solid #f1f1f1;
}

.booking {
    background-color: #f8f8f8;
}

.booking-form p {
    margin-top: 20px;
    line-height: 2;
}

.map {
    margin-top: -60px;
    width: 100%;
    margin-bottom: -5px;
}

.map img {
    width: 100%;
}

footer {
    display: flex;
    justify-content: space-between;
    /*margin: 0 20px;*/
    top: -20px;
    color: #bbb;
    background: #333;
    width: 100%;
    font-size: 14px;
    font-weight: 400;
}

footer div {
    /*width: ;*/
    margin: 0 35px;
}

footer div h5 {
    color: white;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
}

.col1 {
    width: 30%;
}

.support ul,
.information ul {
    padding: 0;
    list-style: none;
}

footer a {
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    color: #bbb;
}
footer li{
    margin-top: 10px;
}

